/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1;
}

.contact-info {
    align-items: flex-start;
    text-align: left;
    flex: 1;
}

.social-media {
    align-items: flex-end;
    text-align: right;
    flex: 1;
}

.footer-btn {
    display: inline-flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s;
    font-size: 20px; /* Ajuste o tamanho do ícone conforme necessário */
}

.footer-btn i {
    font-size: 20px; /* Tamanho do ícone */
}

.footer-btn:hover {
    background-color: #0056b3;
}

.footer-section p {
    margin: 5px 0;
}

/* Form Container */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
